.product-detail-accordion, .option-group-accordion {
  padding-bottom: 80px;

  @include media-breakpoint-down(md) {
    padding-bottom: 40px;
  }

  .accordion-item {
    border-top: 1px solid $sw-border-color;

    &:last-child {
      border-bottom: 1px solid $sw-border-color;
    }

    &-header {
      padding: 1rem 0 1.2rem;
    }

    &-link {
      display: block;
      position: relative;
      cursor: pointer;
      text-decoration: none !important;
      span {
        padding-bottom: 0.625rem;
        border-bottom: 2px solid $sw-text-color;
        &:hover {
          border-bottom: 2px solid $sw-color-brand-primary;
          color: $sw-color-brand-primary;
        }
      }

      &:not(.collapsed) {
        h5 {
          color: $sw-background-color;
        }
      }

      h5 {
        font-weight: $zen-h2-font-size;

        &:hover {
          color: $sw-background-color;
        }
      }

      &::before {
        content: "";
        width: 18px;
        height: 2px;
        background-color: $sw-color-brand-primary;
        position: absolute;
        top: calc(50% + 2px);
        right: 20px;
        display: block;
        transition: all .3s;
      }

      &::after {
        content: "";
        width: 2px;
        height: 18px;
        background-color: $sw-color-brand-primary;
        position: absolute;
        top: calc(50% - 6px);
        right: calc(28px);
        display: block;
        transition: all .3s;
      }

      &[aria-expanded="true"] {
        &:before {
          transform: rotate(180deg);
        }

        span {
          border-bottom: 2px solid $sw-color-brand-primary;
        }

        &:after {
          transform: rotate(90deg);
          display: none;
        }
      }
    }

    &-body {
      padding-bottom: 2rem;

      .btn-block {
        display: none;
      }

      .offcanvas-body {
        overflow: hidden;
      }
    }
  }
}
