.option-group-accordion {
    padding-bottom: 0;

    .accordion-item-header {
        //padding: 1rem 0 0 0;
        width: 100%;
        //font-family: $sw-font-family-headline;
        //font-weight: $font-weight-bold;

        a {
            padding: 0;
            font-size: 18px;
            color: inherit;
        }
    }

    .product-detail-configurator-options {
        padding-bottom: 1rem;
    }

    .accordion-item-body {
        width: 100%;
        padding-bottom: 1rem;

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            li::before {
                @include sche-set-uni-content('\276F', $sw-color-brand-secondary);
            }
        }

    }
}
