.soze-table-wrapper {
  margin-bottom: 1.25rem;
  max-width: 1200px;
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
  .soze-table {
    margin: 0 1.25rem 1.25rem 0;
    width: 30%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    display: table;
    float: left;
    .soze-row {
      display: table-row;
      background: #f6f6f6;
      color: $sw-text-color;
      &:nth-of-type(odd) {
        background: #e9e9e9;
      }
      &.header {
        font-weight: 900;
        color: #ffffff;
        background: $sw-color-brand-primary;
      }
      &.yellow {
        background: $sw-color-brand-primary;
      }
      .soze-cell {
        padding: 0.375rem 0.75rem;
        display: table-cell;
      }
    }
  }
}

.soze-sofortliefer-programm {
  .soze-sofortliefer-farbe {
    display: inline-block;
    margin-right: 0.625rem;
    img {
      margin-bottom: 0.313rem;
      width: auto;
      height: 100px;
    }
  }
}

.soze-made-in-germany {
  @include clearfix;
  img {
    float: left;
  }
  ul {
    list-style-position: inside;
  }
  .soze-may-logo-article-detail {
    margin-left: 14.688rem;
  }
}


.soze-description-sidebar-container {
    border: 2px solid $sw-border-color;
    padding: 1.25rem;
    margin-bottom: 1.25rem;
    border-radius: 1rem;
}

.soze-description-sidebar-table {
  .soze-description-sidebar-table-row {
    border-bottom: 1px solid $sw-border-color;

    td {
      padding: 0.625rem;
    }
  }

  .soze-description-sidebar-table-row:last-child {
    border-bottom: none;
  }

  .soze-description-sidebar-table-image {
    vertical-align: top;
  }
}

@media screen and (max-width: 580px) {
  .soze-table-wrapper {
    .soze-table {
      width: 100%;
      display: block;
      .soze-row {
        padding: 8px 0;
        display: block;
        .soze-cell {
          padding: 2px 12px;
          display: block;
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .soze-benefits-description {
    //width: 100%;
    img {
    }
  }
  .soze-made-in-germany img {
    float: none;
  }
  .soze-made-in-germany {
    .soze-may-logo-article-detail {
      margin-left: 0;
    }
  }
}